$primary: #1F2435;
$seondary: #C5DF5C;
$button_lime: #EEF9A8;

.btn_brand {
    background-color: $button_lime;
    padding: 1.125rem 1.5rem;
    max-width: 160px;
    max-height: 56px;
    font-size: 1rem;
}

.border_brand {
    border: 1px solid #E8E7ED;
}

.text_brand {
    color: $seondary;
}

.z-index-min-1 {
    z-index: -1;
}

.font_brand_light {
    font-family: 'Outfit-Light', sans-serif;
}